[Unit]
Description=Log Message Converter for pacemaker and corosync

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/share/pacemaker/pm_logconv/pm_logconv.py
Restart=always
RestartPreventExitStatus=6
