[Unit]
Description=Pacemaker and Corosync Log Message Converter

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/share/pacemaker/pm_logconv/pm_logconv.py
Restart=always

ExecStopPost=/bin/sh -c '[ ! -f /etc/pm_logconv.conf ] && systemctl stop pm_logconv.service'
